
\.vs/

DashboardMobileApp/DashboardMobileApp/bin/

DashboardMobileApp/DashboardMobileApp/obj/

DashboardMobileApp/DashboardMobileApp\.Android/bin/

DashboardMobileApp/DashboardMobileApp\.Android/obj/

DashboardMobileApp/DashboardMobileApp\.iOS/obj/

MetricsDashboardMobile/obj/

MetricsDashboardMobile/bin/

MetricsDashboardMobile/App_Data/

packages/
